### Import important packages

In [47]:
import numpy as np
import pandas as pd
from os import listdir

### Read data

In [48]:
all_items = listdir('sales_data')
files = [f for f in all_items if '.csv' in f] # remove jupyter notebook folder.
files

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [49]:
df = pd.DataFrame()

In [50]:
for f in files:
    full_path = f'sales_data\\{f}'
    if len(df.columns) == 0:
        df = pd.read_csv(full_path)
    else:
        df = df.append(pd.read_csv(full_path))

### Clean data, change data type and create month and sales column

In [51]:
# Find NA values
df[df.isna().any(axis=1)]

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1          NaN     NaN              NaN        NaN        NaN              NaN
356        NaN     NaN              NaN        NaN        NaN              NaN
735        NaN     NaN              NaN        NaN        NaN              NaN
1433       NaN     NaN              NaN        NaN        NaN              NaN
1553       NaN     NaN              NaN        NaN        NaN              NaN
...        ...     ...              ...        ...        ...              ...
10012      NaN     NaN              NaN        NaN        NaN              NaN
10274      NaN     NaN              NaN        NaN        NaN              NaN
10878      NaN     NaN              NaN        NaN        NaN              NaN
11384      NaN     NaN              NaN        NaN        NaN              NaN
11662      NaN     NaN              NaN        NaN        NaN              NaN

[545 rows x 6 columns]

In [53]:
# Change Quantity Ordered as integer
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors='coerce')
# Change Price Each to float
df['Price Each'] = pd.to_numeric(df['Price Each'], errors='coerce')

In [55]:
# Remove non numeric Order ID, Quantity Ordered and drop NA.
df = df.dropna()

In [60]:
# Create Month from Order Date
df['Month'] = df['Order Date'].str[:2]

In [61]:
# Create Sales column
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

### See best month for sales, and number of sales.

In [68]:
# Find sum of all numerical data
df.groupby('Month').sum().sort_values('Quantity Ordered', ascending=False)
df.group

       Quantity Ordered    Price Each         Sales
Month
12              28114.0  4.588415e+06  4.613443e+06
10              22703.0  3.715555e+06  3.736727e+06
04              20558.0  3.367671e+06  3.390670e+06
11              19798.0  3.180601e+06  3.199603e+06
05              18667.0  3.135125e+06  3.152607e+06
03              17005.0  2.791208e+06  2.807100e+06
07              16072.0  2.632540e+06  2.647776e+06
06              15253.0  2.562026e+06  2.577802e+06
02              13449.0  2.188885e+06  2.202022e+06
08              13448.0  2.230345e+06  2.244468e+06
09              13109.0  2.084992e+06  2.097560e+06
01              10903.0  1.811768e+06  1.822257e+06

From the information above we can see that the most order happened in December.